<aside class="sidebar">
      <div class="sidebar-title">
    Audit Management
  </div>

   <mat-nav-list>

    <a mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>

    <a mat-list-item>
      <mat-icon matListItemIcon>assignment</mat-icon>
      <span matListItemTitle>Audits</span>
    </a>

    <a mat-list-item>
      <mat-icon matListItemIcon>account_balance</mat-icon>
      <span matListItemTitle>Accounts</span>
    </a>

    <a mat-list-item>
      <mat-icon matListItemIcon>fact_check</mat-icon>
      <span matListItemTitle>Sampling</span>
    </a>

    <a mat-list-item>
      <mat-icon matListItemIcon>description</mat-icon>
      <span matListItemTitle>Documents</span>
    </a>

    <a mat-list-item>
      <mat-icon matListItemIcon>warning</mat-icon>
      <span matListItemTitle>Findings</span>
    </a>

    <a mat-list-item>
      <mat-icon matListItemIcon>analytics</mat-icon>
      <span matListItemTitle>Analytics</span>
    </a>

    <a mat-list-item>
      <mat-icon matListItemIcon>smart_toy</mat-icon>
      <span matListItemTitle>AI Assistant</span>
    </a>

  </mat-nav-list>
</aside>